<footer class="site-footer">
  <div class="site-footer__content">
    <p class="site-footer__copy">{{ 'footer.copy' | translate }}</p>
    <p class="site-footer__legal">
      {{ 'footer.legal' | translate }}
    </p>
    <nav class="site-footer__links" aria-label="Developer and legal links">
      <a routerLink="/bots" class="site-footer__link">
        {{ 'navigation.bots' | translate }}
      </a>
      <a routerLink="/installers" class="site-footer__link">
        {{ 'navigation.installers' | translate }}
      </a>
      <a routerLink="/license" class="site-footer__link">
        {{ 'footer.links.license' | translate }}
      </a>
      <a href="https://diegofcj.github.io/portfolio/" target="_blank" rel="noopener" class="site-footer__link">
        {{ 'footer.links.portfolio' | translate }}
      </a>
      <a href="https://github.com/DiegoFCJ" target="_blank" rel="noopener" class="site-footer__link">
        {{ 'footer.links.github' | translate }}
      </a>
    </nav>
  </div>
</footer>
