<header [class.pdf-page]="isPdfToTxtPage">
    <div class="header-content">
        <!-- Header PDF to Txt -->
        <div *ngIf="isPdfToTxtPage; else normalHeader" class="pdf-header">
            <span class="app-name">Scriptagher</span>
            <span class="current-page">PDF to Txt</span>
            <div class="home-button" (click)="navigateHome()">
                <img src="/icons/icons8-home-64.png"/>    
            </div>
        </div>

        <!-- Header normale -->
        <ng-template #normalHeader>
            <div class="normal-header">
                <h1>Welcome to the Bot List</h1>
                <p>Here is a list of available bots, organized by language.</p>
            </div>
        </ng-template>
    </div>
</header>