<app-header></app-header>
<div class="container">
    <div class="hero-section">
        <h1>PDF to txt quiz Converter</h1>
        <p>Carica un file PDF contentente quiz a risposta multipla per convertirlo in un formato txt adatto all'app quizmaker</p>
    </div>

    <div class="upload-section">
        <input type="file" id="fileInput" accept=".pdf" class="hidden-input" (change)="onFileSelected($event)" />
        <label for="fileInput" class="custom-button">Choose File</label>
        <p *ngIf="uploadedFile">{{ uploadedFile.name }}</p>
    </div>

    <div *ngIf="txtContent" class="output-section">
        <div class="output-card">
            <h3>Risultato Conversione:</h3>
            <p>{{ txtContent }}</p>
        </div>
    </div>
</div>