<div class="bot">
  <div class="bot-surface">
    <div class="bot-header">
      <h3>
        <a [routerLink]="['/bots', language, bot.botName]" class="bot-name-link">
          {{ bot.displayName || bot.botName }}
        </a>
      </h3>
      <span class="bot-language">{{ ('languages.' + language + '.short') | translate }}</span>
    </div>
    <p class="bot-description">{{ bot.shortDescription || ('botCard.noDescription' | translate) }}</p>
    <div class="bot-command">
      <span>{{ 'botCard.startCommand' | translate }}</span>
      <code>{{ bot.startCommand || ('botCard.noStartCommand' | translate) }}</code>
    </div>

    <div class="bot-actions">
      <button
        *ngIf="bot.botName === 'pdf-to-txt'"
        class="btn btn-secondary"
        (click)="navigateToPdfToTxt()"
      >
        {{ 'botCard.pdfCta' | translate }}
      </button>
      <button
        *ngIf="canViewSource"
        class="btn btn-secondary"
        (click)="openBot()"
      >
        {{ bot.actions['viewSource'] || ('botCard.viewSource' | translate) }}
      </button>
      <button class="btn btn-primary" (click)="downloadBot()">
        {{ bot.actions['download'] || ('botCard.download' | translate) }}
      </button>
    </div>
  </div>
</div>
