<app-header></app-header>
<app-installer-section *ngIf="installerAssets.length" [installers]="installerAssets"></app-installer-section>

<main class="bot-list" id="bots" *ngIf="botSections.length; else errorTemplate">
  <app-bot-section *ngFor="let section of botSections" [language]="section.language"
    [bots]="section.botDetails"></app-bot-section>
</main>
<ng-template #errorTemplate>
  <div class="error-state">
    <h2>{{ 'botList.errorTitle' | translate }}</h2>
    <p>{{ errorMessageKey ? (errorMessageKey | translate) : ('botList.errorDefault' | translate) }}</p>
  </div>
</ng-template>
<app-footer></app-footer>