<section class="installer-section" *ngIf="installers?.length">
  <header class="installer-section__intro">
    <h2 class="installer-section__title">Installers</h2>
    <p class="installer-section__subtitle">
      Pacchetti pronti all'uso con checksum verificabili, note di rilascio e licenze sempre in evidenza.
    </p>
  </header>

  <div class="installer-section__grid" *ngIf="rootInstallers.length">
    <ng-container *ngFor="let installer of rootInstallers; trackBy: trackByPath">
      <ng-container *ngTemplateOutlet="installerCard; context: { $implicit: installer }"></ng-container>
    </ng-container>
  </div>

  <div class="installer-section__groups" *ngIf="groupedInstallers.length">
    <ng-container *ngFor="let group of groupedInstallers; trackBy: trackByGroupPath">
      <ng-container *ngTemplateOutlet="groupTemplate; context: { $implicit: group }"></ng-container>
    </ng-container>
  </div>
</section>

<ng-template #groupTemplate let-group>
  <section class="installer-section__group" [attr.data-path]="group.path.join('/')">
    <header class="installer-section__group-header">
      <h3 class="installer-section__group-title">{{ group.name }}</h3>
      <span class="installer-section__group-path">{{ group.path.join(' / ') }}</span>
    </header>

    <div class="installer-section__grid installer-section__grid--nested" *ngIf="group.installers.length">
      <ng-container *ngFor="let installer of group.installers; trackBy: trackByPath">
        <ng-container *ngTemplateOutlet="installerCard; context: { $implicit: installer }"></ng-container>
      </ng-container>
    </div>

    <div class="installer-section__group-children" *ngIf="group.children.length">
      <ng-container *ngFor="let child of group.children; trackBy: trackByGroupPath">
        <ng-container *ngTemplateOutlet="groupTemplate; context: { $implicit: child }"></ng-container>
      </ng-container>
    </div>
  </section>
</ng-template>

<ng-template #installerCard let-installer>
  <article class="installer-card" [attr.data-platform]="installer.platform | lowercase">
    <header class="installer-card__header">
      <div class="installer-card__title-group">
        <span class="installer-card__name">{{ getDisplayName(installer) }}</span>
        <span class="installer-card__platform">{{ installer.platform }}</span>
      </div>
      <a
        class="installer-card__download btn btn-primary"
        [href]="installer.downloadUrl"
        target="_blank"
        rel="noopener"
        [attr.download]="installer.filename"
      >
        <span>Download</span>
      </a>
    </header>

    <div class="installer-card__path" *ngIf="installer.directories?.length">
      <span>{{ installer.relativePath }}</span>
    </div>

    <p class="installer-card__description" *ngIf="installer.metadata?.description">
      {{ installer.metadata?.description }}
    </p>

    <div class="installer-card__meta">
      <ng-container *ngIf="formatSize(installer.size) as sizeLabel">
        <div class="installer-card__meta-item">
          <span class="installer-card__meta-label">Dimensione</span>
          <span class="installer-card__meta-value">{{ sizeLabel }}</span>
        </div>
      </ng-container>

      <ng-container *ngIf="getLicense(installer) as license">
        <div class="installer-card__meta-item">
          <span class="installer-card__meta-label">Licenza</span>
          <ng-container *ngIf="license.url; else plainLicense">
            <a
              class="installer-card__meta-value installer-card__link"
              [href]="license.url"
              target="_blank"
              rel="noopener"
            >
              {{ license.text }}
            </a>
          </ng-container>
          <ng-template #plainLicense>
            <span class="installer-card__meta-value">{{ license.text }}</span>
          </ng-template>
        </div>
      </ng-container>

      <ng-container *ngIf="getMaintainer(installer) as maintainer">
        <div class="installer-card__meta-item">
          <span class="installer-card__meta-label">Maintainer</span>
          <span class="installer-card__meta-value">{{ maintainer }}</span>
        </div>
      </ng-container>

      <div class="installer-card__meta-item" *ngIf="installer.metadata?.checksum">
        <span class="installer-card__meta-label">Checksum</span>
        <code class="installer-card__code">{{ installer.metadata?.checksum }}</code>
      </div>

      <div class="installer-card__meta-item" *ngIf="installer.metadata?.releaseNotesUrl">
        <span class="installer-card__meta-label">Note di rilascio</span>
        <a
          class="installer-card__meta-value installer-card__link"
          [href]="installer.metadata?.releaseNotesUrl"
          target="_blank"
          rel="noopener"
        >
          Apri
        </a>
      </div>

      <ng-container *ngIf="getHomepage(installer) as homepage">
        <div class="installer-card__meta-item">
          <span class="installer-card__meta-label">Sorgente</span>
          <a
            class="installer-card__meta-value installer-card__link"
            [href]="homepage"
            target="_blank"
            rel="noopener"
          >
            {{ homepage }}
          </a>
        </div>
      </ng-container>
    </div>
  </article>
</ng-template>
