<section class="installer-section" *ngIf="installers?.length">
  <h2 class="installer-section__title">Installers</h2>

  <ul class="installer-section__list" *ngIf="rootInstallers.length">
    <li
      class="installer-section__item"
      *ngFor="let installer of rootInstallers; trackBy: trackByPath"
    >
      <ng-container *ngTemplateOutlet="installerCard; context: { $implicit: installer }"></ng-container>
    </li>
  </ul>

  <div class="installer-section__groups" *ngIf="groupedInstallers.length">
    <ng-container *ngFor="let group of groupedInstallers; trackBy: trackByGroupPath">
      <ng-container *ngTemplateOutlet="groupTemplate; context: { $implicit: group }"></ng-container>
    </ng-container>
  </div>
</section>

<ng-template #groupTemplate let-group>
  <section class="installer-section__group" [attr.data-path]="group.path.join('/')">
    <header class="installer-section__group-header">
      <h3 class="installer-section__group-title">{{ group.name }}</h3>
    </header>

    <ul
      class="installer-section__list installer-section__list--nested"
      *ngIf="group.installers.length"
    >
      <li
        class="installer-section__item"
        *ngFor="let installer of group.installers; trackBy: trackByPath"
      >
        <ng-container
          *ngTemplateOutlet="installerCard; context: { $implicit: installer }"
        ></ng-container>
      </li>
    </ul>

    <div
      class="installer-section__group-children"
      *ngIf="group.children.length"
    >
      <ng-container
        *ngFor="let child of group.children; trackBy: trackByGroupPath"
      >
        <ng-container
          *ngTemplateOutlet="groupTemplate; context: { $implicit: child }"
        ></ng-container>
      </ng-container>
    </div>
  </section>
</ng-template>

<ng-template #installerCard let-installer>
  <div class="installer-section__header">
    <div class="installer-section__name-group">
      <span class="installer-section__name">{{ getDisplayName(installer) }}</span>
      <span class="installer-section__platform">{{ installer.platform }}</span>
      <span class="installer-section__path" *ngIf="installer.directories?.length">
        {{ installer.relativePath }}
      </span>
    </div>
    <a
      class="installer-section__download"
      [href]="installer.downloadUrl"
      target="_blank"
      rel="noopener"
      [attr.download]="installer.filename"
    >
      Download
    </a>
  </div>
  <p class="installer-section__description" *ngIf="installer.metadata?.description">
    {{ installer.metadata?.description }}
  </p>
  <dl class="installer-section__meta">
    <div *ngIf="installer.size" class="installer-section__meta-item">
      <dt>Size</dt>
      <dd>{{ installer.size | number }} bytes</dd>
    </div>
    <div *ngIf="installer.metadata?.checksum" class="installer-section__meta-item">
      <dt>Checksum</dt>
      <dd>{{ installer.metadata?.checksum }}</dd>
    </div>
    <div *ngIf="installer.metadata?.releaseNotesUrl" class="installer-section__meta-item">
      <dt>Release notes</dt>
      <dd>
        <a
          [href]="installer.metadata?.releaseNotesUrl"
          target="_blank"
          rel="noopener"
        >
          View
        </a>
      </dd>
    </div>
  </dl>
</ng-template>
